.user-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    font-size: 1.2em;
    border: 0;
    padding: .5em;
}

.dropdown-toggle::after{display:none}
.dropdown-toggle::before{display:none}


.dropdown-toggle:focus-visible{
    outline: none;
    box-shadow: none;
}