.DS_Store
.idea/

bin/
obj/
*.user

[Aa]ppsettings.[Dd]evelopment.json

**/Properties/launchSettings.json

# Ignore publish output folders
publish/

# Ignore libraries restored to wwwroot by LibMan
src/ProdSight.Frontend/wwwroot/lib/