td.fit,
th.fit {
    white-space: nowrap;
    width: 1%;
}

.mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", "Courier New", monospace;
}

.clickable {
    cursor: pointer;
}
